.nav {
    background-color: #353A47;
}

.nav * {
    display: inline-block;
}

.nav .main {
    margin: 0 auto;
}

.nav .main ul {
    list-style-type: none;
    text-align: center;
}

.nav .main input {
    background-color: #353A47;
    border-radius: 5px;
    border: 1px solid white;
    height: 30px;
    color: azure;
}

.nav a {
    color: azure;
    padding: 20px;
    text-decoration: none;
}

.nav .right {
    float: right;
}

.nav a:hover {
    background-color: black;
    color: #FF5B1E;
}