/* 导航菜单开始 */
.nav {
    background-color: #353A47;
    
    width: 100%;
}

.nav * {
    display: inline-block;
}

.nav .main {
    margin: 0 auto;
}

.nav .main ul {
    list-style-type: none;
}

.nav .main input {
    background-color: #353A47;
    border-radius: 5px;
    border: 1px solid white;
    height: 30px;
    color: azure;
}

.nav a {
    color: azure;
    padding: 20px;
    text-decoration: none;
}

.nav .right {
    float: right;
}

.nav a:hover {
    background-color: black;
    color: #FF5B1E;
}

.dropdown {
    position: relative;
    top: 0;
}

/* 下拉菜单样式 */
.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    left:0;
    z-index: 1;
    min-width: 150px;
    background-color: azure;
}

.dropdown-content a {
    color: #353A47;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;    
}

/* 导航菜单到此结束 */

.content {
    background-color:antiquewhite;
    height: 900px;
    margin: 20px 20px;
}