.filecenter {
    margin: 10px auto;
    margin: 0 auto;
}

.description {
    text-align: center;
}

.description h1 {
    margin: 30px;
    font-size: 60px;
}

.description h4 {
    font-size: 30px;
    margin: 30px;
}

.filechoose {
    text-align: center;
    width: 60%;
    height: 250px;
    margin: 0 auto;
    padding: 10px auto;
    /*flex 布局*/
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    border: 1px dashed #000;
}

.filecenter .filechoose input {
    background: #3A8CDF;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}